<p style="color: green"><%= notice %></p>

<% content_for :title, "Questions" %>

<% if user_signed_in? %>
  <h1>Your Questions</h1>
<% else %>
  <h1>Latest Questions From All Users</h1>
<% end %>

<div id="questions">
  <% @questions.each do |question| %>
    <%= render question %>
    <p>
      <%= link_to "Show this question", question %>
    </p>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to "New question", new_question_path %>
<% end %>
