#questions {
    list-style: none;
    margin: 0;
    padding: 0;
}

#questions .question,
.answering-question {
    border: 1px solid var(--border);
    border-radius: var(--standard-border-radius);
    padding: 0.5em 1em;
    position: relative;
    margin-bottom: 0.5em;
}

#questions .question.closed {
    color: var(--disabled);
}

#questions .question.own-question {
    border-color: var(--accent);
}

.answering-question h3,
#questions .question h4,
#questions .question h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.answering-question p,
#questions .question p {
    margin: 0 0 1rem;
}

#questions .question .question-actions {
    display: flex;
    justify-content: flex-end;
}

.question-body {
    white-space: pre-wrap;
}
