<header>
  <a class="logo" href="/">Quaestio</a>
  <% if user_signed_in? %>
    <a class="button account-action" href="<%= edit_user_registration_path %>">Account</a>
    <a class="button account-action" href="<%= destroy_user_session_path %>">Sign Out</a>
  <% else %>
    <a class="button account-action" href="<%= new_user_session_path %>">Sign In</a>
    <a class="button account-action" href="<%= new_user_registration_path %>">Create Account</a>
  <% end %>
</header>
